<!DOCTYPE html>
<html land='eng'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <title>Curriculum</title>
    <%- include('../../partials/fonts') %>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <%- include('../../partials/header') %>
    <div class="course-heading">
      Course 1: Introduction
    </div>
      <div class="course-section">
        <div>About the Curriculum</div>
          <p>
            This curriculm is 100% free and is desigend to take you from zero programming experience to independent game developer.  You'll first learn the basics of programming and then dive into the various aspects of what makes a game.  From game design to sound and art, you'll become an expert at it all!  Upon completion of this curriculum, you'll be able to call yourself an independent game developer and even get a job.
          </p>
      </div>
      <div class="course-section">
        <div>Game Engines Overview</div>
          <p>
            There are a ton of game engines out there, already made and ready for use!  However, many of them do cost money.  Of course, that's not always a bad thing.  Watch the following video to get an idea on what exactly is out there and how they differ from one another.
            <ul>
              <li><a target="_blank" href="https://www.youtube.com/watch?v=-vwCU_ooTCY">Best Game Engines in 2018</a></li>
            </ul>
          </p>
          <p>
            Pay attention closely, and you'll notice that some of the engines have drag and drop interfaces.  Generally speaking, engines with drag and drop features are more beginner friendly; however, they tend to have limited capabilites.  It's often more difficult to customize things and have full control over how you want things to be done.  Engines that require coding are much more difficult to learn, because coding is much harder.  However, knowing how to code will give you full control over your game.  You aren't locked into a set of features and graphical user interface (GUI), because you can just write the code yourself to do what it is that you want to do.
          </p>
      </div>
      <div class="course-section">
        <div>Godot Game Engine</div>
          <p>
            Godot is the 100% free game engine used in this curriculum.  It requires coding, but has a pretty use friendly editor that helps ease the development cycle.  It's rather new with a lot of expectations to become a top tier game engine  See below for some great overview information.
          </p>
          <ul>
            <li><a target="_blank" href="https://www.youtube.com/watch?v=s0I4Xcr5MVw">Godot Game Engine Overview</a></li>
            <li><a target="_blank" href="https://godotengine.org/">Godot Website</a></li>
          </ul>
          <p>
            There are downsides to being a fairly young game engine, however.  Because the engine is so new, there aren't a lot of resources out there on how to do <i>blank</i>.  This makes the engine more difficult to learn.  But have no worries, this bootcamp will  gather the most important information from around the web and deliver them to you!
          </p>
      </div>
      <div class="course-section">
        <div>The Game Industry</div>
          <p>
            All right time for serious talk.  If you are like me, you've probably read and try a lot of different things.  Maybe you went to college, tried to be an entrepreneur by selling things on Amazon, drove for Uber, or even tried to be a self-taught web developer.  What I'm getting at is, you've probably seen a lot of resources saying it's easy, just do this, and magically you'll achieve it and become a millionaire!  Anyone can do it!  Well this bootcamp is different, I'd like you to see both sides and really understand the reality of things.  No fluffy BS stuff here.  In general, the gaming industry does not have a great work culture.  The video below should give you enough of an idea.  Feel free to google around and read more about it!  Reddit is a great site for finding information from those in the industry themselves.
          </p>
          <ul>
            <li><a target="_blank" href="https://www.youtube.com/watch?v=pLAi_cmly6Q">The Dark Side of the Video Game Industry</a></li>
          </ul>
      </div>
      <div class="course-section">
        <div>Assignment</div>
          <p>
            Time for your first assignment!  This should be pretty simple and won't involve any coding or real work at all!
          </p>
          <ol>
            <li>Go to the Godot main website and download and install the Godot Game Engine on your computer.</li>
            <ul>
              <li><a target="_blank" href="https://godotengine.org">Godot Website</a></li>
            </ul>
            <li>
              Download and install Anki.  Anki is flashcard software.  There are a lot of things you will need to remember.  Any concepts, vocabulary, or code that you can't quite remember, should be placed in here.  I found it really helpful in my learning.
              <ul>
                <li><a target="_blank" href="https://apps.ankiweb.net">Anki Website</a></li>
              </ul>
            </li>
          </ol>
      </div>
      <div class="course-section">
        <div>Motivation</div>
          <p>
            Coding is hard.  Don’t let anyone fool you in saying that it’s easy.  Yeah you hear that all the time “learn code in 3 months” etc., but it's not as simple as it seems.  It requires A LOT of practice.  I'm glad to see you made it all the way to the end of this course.  Now watch some motivation below and you'll be on your way to the next course!.
          </p>
          <ul><li><a target="_blank" href="https://www.youtube.com/watch?v=j_yGRhdhVhY">Aspire to be a Game Programmer</a></li>
          </ul>
      </div>
    </div>
    <%- include('../../partials/footer') %>
  </body>
</html>
