<!DOCTYPE html>
<html land='eng'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <title>Curriculum</title>
    <%- include('partials/fonts') %>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <%- include('partials/header') %>
      <div class="curriculum-container">
        <a href="/curriculum/course1">Course 1: Introduction</a>
        <p>
          Learn more about this bootcamp and get an overview of what you'll be going through.  It's a quick and easy introduction!
        </p>
      </div>
      <div class="curriculum-container">
        <a href="/curriculum/course2">Course 2: Basic Programming</a>
        <p>
          We'll go over basic programming concepts in this section.  It won't be the most exciting, but definitely one of the most necessary lessons in this whole curriculum.  Programming is all about being able to basic things such as using loops or arrays.  You gotta know the basics before we dive into heavy game development.
        </p>
      </div>
      <div class="curriculum-container">
        <a href="/curriculum/course3">Course 3: Basic Art</a>
        <p>
          Next we'll go over some basic art skills.  If you know how to use a drawing program such as Adobe Illustrator or Photoshop, you'll be definitely ahead of the game.  Otherwise, this course will be a good stepping stone for you.  You'll be surprised how little you need to know in order to create art for your games.
        </p>
      </div>
    <%- include('partials/footer') %>
  </body>
</html>
