<!DOCTYPE html>
<html land='eng'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <title>Game Dev Bootcamp</title>
    <%- include('partials/fonts') %>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <%- include('partials/header') %>
    <div class="main-heading">
      <div id="main">Your game development journey begins now.</div>
      <div id="sub">Start this curriculum for free today.</div>
      <a href="/curriculum">Start Curriculum</a>
    </div>
    <div class="overview">
      <div id="overview">Overview</div>
      <div id="overview-text">
          This course is designed to take you from beginner to independent game developer.  Learning resources include tutorials, videos, and documents from all over the internet.  From there, you will hone your skills by building lots of different games.
      </div>
    </div>
    <div class="skill">
      <div class="skill-heading">
        Learn to Program
      </div>
      <img src="images/program.png">
      <div class="skill-text">
        Learn to program with online resources using tutorials, blogs, and videos.
      </div>
    </div>
    <div class="skill">
      <div class="skill-heading">
        Master through Projects
      </div>
      <img src="images/projects.png">
      <div class="skill-text">
        This emphasizes learn by building.  You will be completing a lot of projects along the way.  By the end, you will have a large volume of projects for your portfolio.
        </div>
      </div>
    <div class="skill">
      <div class="skill-heading">
        Become a Game Developer
      </div>
      <img src="images/gamedeveloper.png">
      <div class="skill-text">
        Finish the course and you'll be on your way to game development.  With your very own portfolio and self-taught skills, you'll be able to land a job or start your own professional grade project.
      </div>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
