<!DOCTYPE html>
<html land='eng'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <title>Curriculum</title>
    <%- include('../../partials/fonts') %>
    <link rel="stylesheet" href="/css/prism.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <%- include('../../partials/header') %>
    <div class="course-heading">
      Course 3: Basic Art
    </div>
      <div class="course-section">
        <div>Basic Art Skills</div>
          <p>
            This course will go over the very basics of creating and animating art.  We are going to focus on pixel art, since that does tend to have a lower barrier for entry compared to other artistic styles.  The goal of this course is to get you to be able to draw your own art and animate them in Godot.  My choice of software is Krita, because it's free and easy to use.  You are welcome to use any other drawing software, but just know that I'll be doing all my work in Krita.  Below is a list of other software that you might want to look into:
          </p>
          <ul>
            <li>
              <a target="_blank" href="https://krita.org/en/">Krita</a> (free)
            </li>
            <li>
              <a target="_blank" href="https://www.blender.org/">Blender</a> (free)
            </li>
            <li>
              <a target="_blank" href="https://www.aseprite.org/">Aseprite</a>
            </li>
            <li>
              <a target="_blank" href="https://www.gimp.org/">GIMP</a> (free)
            </li>
            <li>
              <a target="_blank" href="https://inkscape.org/">Inkscape</a> (free)
            </li>
            <li>
              <a target="_blank" href="https://marmoset.co/hexels/">Marmoset Hexels</a>
            </li>
            <li>
              <a target="_blank" href="https://www.adobe.com/products/illustrator.html">Adobe Illustrator</a>
            </li>
          </ul>
      </div>
      <div class="course-section">
        <div>Philosophy and Tips</div>
          <ol>
            <li>
              Learn to read documentation.  What most people don't know about programming, is that you read a lot of documentation.  Every piece of tech you use has documentation.
            </li>
            <li>
              Don't know how to do something?  Google.  You will spend a lot of time googling how to do things.  Honestly, it's part of the profession.  There's so much to know now a days that someone out there probably has had the same questions or problems as you.  The answer is out there.  Be the Google Master.
            </li>
            <li>
              Can't remember what you learned or exactly what a built-in function does?  Anki it!  Anything you can't remember or think would be worth solidifying in your head, just make a flash card in Anki.  Run through those set of cards everyday and you'll be amazed how helpful it is.  You'll also get to see how far you've come on this coding journey, because you'll soon have a huge stack of flash cards.
            </li>
            <li>
              Like with anything, practice makes perfect.  At first you'll be like how does anyone remember all this?  It's going to seem like you don't what you are doing at first or you're relying too much on looking everything up.  But that's normal.  It's the nature of the field.  Learn to accept it.  You'll get there with time.
            </li>
          </ol>
      </div>
      <div class="course-section">
        <div>Warm-Up Assigment</div>
        <ol>
          <li>Watch this introductory video on drawing pixel art.  It's short, concise, and goes over the key things you should be thinking about like drawing general shapes first and using light to really bring your art to life.  Remember, generally the larger your canvas size is or the more pixels you have, the harder it is to draw.  I recommend you stick to somewhere between 16x16 to 64x64 pixel grid</li>
          <li>Next fire up Krita and get ready to draw.  Krita has a built-in pixel brush.  Look for it in the brushes pallette and click that, and you are ready to draw.  Can't find or install it? - Google! </li>
          <li> Lets start off easy... go ahead and draw a pumpkin.  It's not very complex and most will be able to tell that its a pumpkin no matter how bad... or good it is!  Once your done, compare your pumpkin to the ones seen in this <a target="_blank" href="https://www.google.com/search?q=pixel+art+pumpkin&sxsrf=ACYBGNTDdCsbEWzgFCXO_YSMLV_tOfYvtQ:1573486234957&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjuvN-AveLlAhVzCjQIHRQ7C50Q_AUIEigB&biw=1920&bih=937">search</a> for pixel art pumpkins.</li>
          <li>Draw a Minecraft block isometric, see some examples <a target="_blank" href="https://www.google.com/search?biw=1097&bih=879&tbm=isch&sxsrf=ACYBGNTNhPKTgPw6WAXHHC2ORjbOQx71bQ%3A1573487439792&sa=1&ei=T4PJXfj1L87c-gSh6IXoAw&q=minecraft+blocks&oq=minecraft+blocks&gs_l=img.3..0l10.3689.4868..4965...0.0..0.74.499.8......0....1..gws-wiz-img.......35i39j0i67.NuhSNIW6KAc&ved=0ahUKEwi42aC_weLlAhVOrp4KHSF0AT0Q4dUDCAc&uact=5#imgrc=qS50vKBctZvJVM:">here</a>.</li>
          <li>Draw Mario from Super Mario Brothers.  Be sure to at least attempt it before googling anything, you'll quickly find it to be tough despite how basic and simple the character really is.  If you've played Super Mario on Nintendo (NES, the old console with game cartridges), you'll have a good idea of what he looks like.  Once you're done, compare your Mario with the ones shown in the this google <a target="_blank" href="https://www.google.com/search?q=nes+mario+pixel+art&sxsrf=ACYBGNR3FfAqtG2h75qTfq2n04Wf7g1Zkg:1573485345030&source=lnms&tbm=isch&sa=X&ved=0ahUKEwikzLLYueLlAhV1HjQIHQLfCFMQ_AUIEigB&cshid=1573485372454132&biw=1920&bih=937">search</a>.</li>
        </ol>
        <p>
          With practice your art will get better.  Just know that it takes time and lots of practice which you'll get as you continue to build projects.  Lets move on to some animation now that you have an idea on how to draw art using a drawing software.
        </p>
      </div>
      <div class="course-section">
        <div>Assignment</div>
        <ol>
          <li>
            Read through the introduction for the Godot editor and open it to familiarize yourself with its interface.
          </li>
          <ul>
            <li>
              <a target="_blank" href="https://docs.godotengine.org/en/3.1/getting_started/step_by_step/intro_to_the_editor_interface.html">Introduction to Godot's Editor</a>
            </li>
          </ul>
          <li>
            Read through the introduction for the Godot editor and open it to familiarize yourself with its interface.
          </li>
          <ul>
            <li>
              <a target="_blank" href="https://docs.godotengine.org/en/3.1/tutorials/2d/2d_sprite_animation.html">2D Sprite Animation</a>
            </li>
          </ul>
          <li>
            Watch my video on How to Make Sprites in Krita.  Now that you have an idea on how to make sprite sheets, lets practice!
          </li>
          <ol type="a">
            <li>
              Create a sprite sheet of something bouncing up and down.
            </li>
            <li>
              Create a sprite sheet of something shooting a projectile.
            </li>
            <li>
              Create a sprite sheet of someone idling and running.
            </li>
          </ol>
          <li>
            Watch my video on How to Animate Sprites in Godot.  Take the sprite sheets you made and lets animate them!
          </li>
        </ol>
        <p>
          That's the end of this course.  Now that you can draw some basic things... I think it's time to start creating things in Godot!
        </p>
      </div>
    </div>
    <%- include('../../partials/footer') %>
  </body>
  <script src="../../../js/prism.js"></script>
</html>
